{% extends "base/main.html" %}
{% load static %}

{% block content %}

<main>
    <section id="form-container">
        

        <div id="welcome-message">
            <img id="logo" src="{% static 'images/myicon.png' %}" />
            <h1>Sign in with us</h1>
            <p>Video conferencing application powered by computer vision</p>


            <form id="form">
                <div class="form-field">
                    <label for="room"></label>
                    <input type="text" name="room" style="text-transform:uppercase ;" placeholder="Room Name" required >
                </div>
                <div class="form-field">
                    <label for="email"></label>
                    <input type="email" name="email" placeholder="Email" required >
                </div>
                <div class="form-field">
                    <label for="username"></label>
                    <input type="text" name="username" placeholder="Username" required >
                </div>
    
                <div class="form-field">
                    <input type="submit" value="Join Stream">
                </div>
            </form>
        </div>

        <div id="image-container">
            <img src="{% static 'images/login-img.png' %}">
        </div>

       
        
    </section>

</main>

<script type="text/javascript">
    let form = document.getElementById('form')
    let handleSubmit = async (e) => {
        e.preventDefault()
        let room = e.target.room.value.toUpperCase()
        let name = e.target.username.value
        let email = e.target.email.value

        let response = await fetch(`/get_token/?channel=${room}`)
        let data = await response.json()

        let UID = data.uid
        let token = data.token

        sessionStorage.setItem('UID', UID)
        sessionStorage.setItem('token', token)
        sessionStorage.setItem('room', room)
        sessionStorage.setItem('name', name)
        sessionStorage.setItem('email', email)

        window.open('/room/', '_self')
    }

    form.addEventListener('submit', handleSubmit)
</script>

{% endblock content %}